/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_se.h"

// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

&sk {
    // don't release mods on other mods presses

    ignore-modifiers;
};

&mt { flavor = "tap-preferred"; };

/ {
    behaviors {
        // Enables holding the first mod-tap key
        // by performing a tap-release-hold sequence.
        // To use it: "&qt KEYCODE1 KEYCODE2"

        qt: quick_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        ht_modsRight: ht_modsRight {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MODSRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 31 32>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        ht_modsLeft: ht_modsLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MODSLEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 31>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        mm_left: mm_left {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_LEFT";
            bindings = <&kp LEFT>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mm_down: mm_down {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_DOWN";
            bindings = <&kp DOWN>, <&kp PG_DN>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mm_up: mm_up {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_UP";
            bindings = <&kp UP>, <&kp PG_UP>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mm_right: mm_right {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_RIGHT";
            bindings = <&kp RIGHT>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        ht_kp_tog: ht_kp_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP_TOG";
            #binding-cells = <2>;
            bindings = <&kp>, <&tog>;

            tapping-term-ms = <250>;
        };

        ht_mo_tog: ht_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MO_TOG";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        ht_mods: ht_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 15 5 6 7 8 9 16 17 18 19 26 27 28 29>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        td_semiColon: td_semiColon {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp SE_SEMI>, <&kp SE_COLON>;

            tapping-term-ms = <250>;
        };

        td_slashQuestion: td_slashQuestion {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SLASHQUESTION";
            #binding-cells = <0>;
            bindings = <&kp SE_SLASH>, <&kp SE_QUESTION>;

            tapping-term-ms = <250>;
        };

        td_leftBracket: td_leftBracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFTBRACKET";
            #binding-cells = <0>;
            bindings = <&kp SE_LEFT_BRACKET>, <&kp SE_LEFT_BRACE>;

            tapping-term-ms = <250>;
        };

        td_rightBracket: td_rightBracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHTBRACKET";
            #binding-cells = <0>;
            bindings = <&kp SE_RIGHT_BRACKET>, <&kp SE_RIGHT_BRACE>;

            tapping-term-ms = <250>;
        };

        td_minusUnderscore: td_minusUnderscore {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MINUSUNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp SE_MINUS>, <&kp SE_UNDER>;

            tapping-term-ms = <250>;
        };

        td_equalPlus: td_equalPlus {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_EQUALPLUS";
            #binding-cells = <0>;
            bindings = <&kp SE_EQUAL>, <&kp SE_PLUS>;

            tapping-term-ms = <250>;
        };

        td_commaLess: td_commaLess {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_COMMALESS";
            #binding-cells = <0>;
            bindings = <&kp SE_COMMA>, <&kp SE_LT>;

            tapping-term-ms = <250>;
        };

        td_periodMore: td_periodMore {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PERIODMORE";
            #binding-cells = <0>;
            bindings = <&kp SE_PERIOD>, <&kp RS(SE_GREATER_THAN)>;

            tapping-term-ms = <250>;
        };

        td_backslashPipe: td_backslashPipe {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BACKSLASHPIPE";
            #binding-cells = <0>;
            bindings = <&kp RA(SE_PLUS)>, <&kp SE_PIPE>;

            tapping-term-ms = <250>;
        };
    };

    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.

        unstick: unstick {
            label = "ZM_unstick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys
        // internal-left & external-right thumb keys
        // both left thumb keys
        // left index & middle fingers (home-row)
        // hold control & space for Adobe workflow

        c_fw {
            bindings = <&sl 4>;
            key-positions = <0 24>;
        };

        c_enter_r {
            bindings = <&kp ENTER>;
            key-positions = <27 26>;
            timeout-ms = <50>;
        };

        c_enter_l {
            bindings = <&kp ENTER>;
            key-positions = <23 22>;
            timeout-ms = <50>;
        };

        c_backspace_r {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 6>;
            timeout-ms = <100>;
        };

        c_backspace_l {
            bindings = <&kp BACKSPACE>;
            key-positions = <2 3>;
            timeout-ms = <100>;
        };

        c_delete_r {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
            timeout-ms = <100>;
        };

        c_delete_l {
            bindings = <&kp DELETE>;
            key-positions = <2 1>;
            timeout-ms = <100>;
        };

        c_esc_r {
            bindings = <&kp ESC>;
            key-positions = <9 8>;
            timeout-ms = <100>;
        };

        c_esc_l {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <100>;
        };

        c_tab_r {
            bindings = <&kp TAB>;
            key-positions = <5 6>;
            timeout-ms = <100>;
        };

        c_tab_l {
            bindings = <&kp TAB>;
            key-positions = <3 4>;
            timeout-ms = <100>;
        };

        c_capsword_r {
            bindings = <&caps_word>;
            key-positions = <19 18>;
            timeout-ms = <50>;
        };

        c_capsword_l {
            bindings = <&caps_word>;
            key-positions = <10 11>;
            timeout-ms = <50>;
        };

        c_tilde_r {
            bindings = <&kp GRAVE>;
            key-positions = <29 28>;
            timeout-ms = <100>;
        };

        c_tilde_l {
            bindings = <&kp GRAVE>;
            key-positions = <20 21>;
            timeout-ms = <100>;
        };

        c_comma {
            bindings = <&kp COMMA>;
            key-positions = <26 32>;
            timeout-ms = <75>;
        };

        c_period {
            bindings = <&kp PERIOD>;
            key-positions = <27 32>;
            timeout-ms = <75>;
        };

        c_compose {
            bindings = <&kp C_MENU>;
            key-positions = <9 32>;
            timeout-ms = <300>;
        };

        c_slash {
            bindings = <&kp SLASH>;
            key-positions = <32 28>;
        };

        c_play-pause {
            bindings = <&kp C_PLAY_PAUSE>;
            key-positions = <31 22>;
        };

        c_next {
            bindings = <&kp C_NEXT>;
            key-positions = <31 23>;
        };

        c_prev {
            bindings = <&kp C_PREV>;
            key-positions = <21 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        base {
            bindings = <
&kp Q                  &kp W                &kp F  &kp P  &kp B                &kp J                &kp L  &kp U  &kp Y                 &kp SE_A_RING
&ht_modsLeft LSHIFT A  &kp R                &kp S  &kp T  &kp G                &kp M                &kp N  &kp E  &kp SE_O_UMLAUT       &ht_modsRight RSHIFT SE_A_UMLAUT
&ht_modsLeft LCTRL Z   &ht_modsLeft LALT X  &kp C  &kp D  &kp V                &kp K                &kp H  &kp O  &ht_modsRight RALT I  &ht_modsRight RCTRL SE_APOSTROPHE
                                                   &mo 1  &ht_mods LGUI SPACE  &ht_mods RGUI SPACE  &mo 3
            >;
        };

        numFunc_a {
            bindings = <
&kp C_BRIGHTNESS_INC  &kp N7  &kp N8  &kp N9  &kp C_VOL_UP  &kp SE_GRAVE  &trans  &trans  &trans  &kp SE_TILDE
&kp C_BRIGHTNESS_DEC  &kp N4  &kp N5  &kp N6  &kp C_VOL_DN  &trans        &trans  &trans  &trans  &trans
&kp N0                &kp N1  &kp N2  &kp N3  &kp C_MUTE    &trans        &trans  &trans  &trans  &trans
                                      &trans  &trans        &trans        &trans
            >;
        };

        numFunc_b {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans  &trans  &trans  &trans  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans   &trans  &trans
            >;
        };

        symNav {
            bindings = <
&kp SE_TILDE  &trans  &trans  &trans  &kp SE_GRAVE  &td_minusUnderscore  &td_leftBracket    &td_rightBracket  &kp SE_LEFT_PARENTHESIS  &kp SE_RIGHT_PARENTHESIS
&trans        &trans  &trans  &trans  &trans        &td_semiColon        &mm_left           &mm_down          &mm_up                   &mm_right
&trans        &trans  &trans  &trans  &trans        &td_equalPlus        &td_commaLess      &td_periodMore    &td_slashQuestion        &td_backslashPipe
                              &trans  &trans        &trans               &ht_kp_tog RALT 3
            >;
        };

        fw {
            bindings = <
&none        &none         &none         &none         &bt BT_CLR  &bt BT_CLR  &none  &none  &none  &none
&none        &bt BT_SEL 3  &bt BT_SEL 4  &none         &none       &none       &none  &none  &none  &none
&bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none       &none       &none  &none  &none  &bootloader
                                         &to 0         &none       &none       &to 0
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
